*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.fa-check{
  color: green !important;
}
.fa-times{
  color: red !important;
}
.edit-btn{
  color: white !important;
}
.custom-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}

.custom-button:hover {
  background-color: #2980b9;
}

.hidden {
  display: none;
}
.custom-button.second{
  margin-left: 20px;
  border: none;
}
#pie-chart{
  width: 70% ;
  margin-top: 40px;
  margin: 40px auto 0;

}
.colors{
  width: 20px;
  height: 10px;
}
.first-colors{
  background-color: purple;
}
.second-colors{
  background-color: green;
  margin-left: 20px;
}
.third-colors{
  background-color: blue;
  margin-left: 20px;
}
.box-status{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box-status p{
  margin-bottom: 0;
  margin-top: 5px;
}
.box-status span{
  font-size: 13px;
}
#chart {
  background-color: #F5F2EB;
  border: 1px solid #CCC;
  width: 100%;
}
.recharts-responsive-container{
  width: 450px !important;
  height: 500px !important;
  margin-top: 30px;
}
.recharts-default-legend{
  display: none;
}
.map-close-btn{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 40px;
  color: grey;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  font-weight: 500;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}